body {
	margin: auto 0px;
}

img {
	width: 350px;
	height: 350px;
	margin-top: 15px;
	border-radius: 10px;
}

/*MAIN CONTAINER*/

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(212, 45%, 89%);
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 380px;
	padding: 10px;
	background-color: hsl(0, 0%, 100%);
	border-radius: 10px;
}


/*TEXT*/

h1, p {
	display: block;
	text-align: center;
	margin: 20px 20px;
}

h1 {
	font-family: 'Outfit', sans-serif;
	font-weight: 700;
	font-size: 1.7rem;
}

p {
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	color:  hsl(220, 15%, 55%);
	font-size: 0.9375rem;
}

/*FOOTER*/

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a { 
	color: hsl(228, 45%, 44%); 
}